.App { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #2B2A30;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home {
  width: 500px;
  height: 500px;
  left: 470px;
  top: 227px; 
  text-align: center;
  border: 4px solid black ;
  border-radius: 100%;
  color: white;
  background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3A393F 0%, #17171A 100%);
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  display: grid;
  place-items: center;
}

.timer {  
  width: 200px;
  height: 100px;  
  font-family: 'Bebas Neue'; 
  font-size: 100px;
  line-height: 196px;
  background: linear-gradient(180deg, #FFFFFF 0%, #D5D8E1 100%); 
  background-clip: text;  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}